line {
    stroke: black;
}
image {
    image-rendering: pixelated;
}
.header {
    font-size: 5em;
}
.number {
    font-size: 4.6875em;
}
.id {
    font-size: 0.5em;
}
svg {
    width: 100%;
    max-width: 500px;
}