<div class="forms-and-table">
    <div>
        <form id="draw-number" method="post" action="/game/draw_number">
            <fieldset>
                <legend>Draw Number</legend>
                <input type="text" name="gameID" value="{{.GameID}}" hidden>
                <input type="submit" {{if le .Game.NumbersLeft 0}}disabled{{end}}>
                {{- with $n := .Game.PreviousNumberDrawn}}
                <div>
                    <label>Previous number: <span class="previous-number">{{$n}}</span></label>
                </div>
                {{- end}}
                <div>
                    <label>Numbers left: {{.Game.NumbersLeft}}</label>
                </div>
            </fieldset>
        </form>
        {{- if .Game.PreviousNumberDrawn}}
        <form id="check-board" method="get" action="/game/board/check">
            <fieldset>
                <legend>Check Board</legend>
                <input id="allow-camera-checkbox" type="checkbox" hidden>
                <div>
                    <div>
                        <input id="enable-camera-checkbox" type="checkbox">
                        <label for="enable-camera-checkbox">Enable Scanner</label>
                    </div>
                    <div>
                        <input id="front-camera-checkbox" type="checkbox" hidden>
                        <label for="front-camera-checkbox">Front camera</label>
                    </div>
                    <div>
                        <input id="camera-zoom-range" type="range" hidden>
                        <label for="camera-zoom-range">Camera zoom</label>
                    </div>
                    <div>
                        <video id="camera-video" autoplay hidden></video>
                    </div>
                </div>
                <noscript>browser cannot run javascript to scan board</noscript>
                <span id="camera-log"></span>
                <input type="text" hidden name="gameID" value="{{.GameID}}">
                <div>
                    <label for="board-id">Board</label>
                    <input id="board-id" type="text" name="boardID" value="{{.BoardID}}" required minLength="16"
                        maxLength="16" pattern="[A-za-z0-9-]{16}" />
                </div>
                <fieldset>
                    <legend>type</legend>
                    <div>
                        <input id="type-has-line" type="radio" name="type" value="HasLine" checked>
                        <label for="type-has-line">Line</label>
                    </div>
                    <div>
                        <input id="type-is-filled" type="radio" name="type" value="IsFilled">
                        <label for="type-is-filled">All cells</label>
                    </div>
                </fieldset>
                <input type="submit">
                {{- if .BoardID}}
                <div>
                    <span>Previous check:</span>
                    {{- if .HasBingo}}
                    <a href="/game/board?boardID={{.BoardID}}" class="has-bingo">BINGO !!!</a>
                    {{- else}}
                    <a href="/game/board?boardID={{.BoardID}}" class="no-bingo">No Bingo :(</a>
                    {{- end}}
                </div>
                {{- end}}
            </fieldset>
        </form>
        <script>
{{template "game.js" }}
        </script>
        {{- end}}
    </div>
    <div>
        {{- with $cols := .Game.DrawnNumberColumns}}
        <table id="game-drawn-numbers">
            <caption>Game Drawn Numbers</caption>
            <thead>
                <tr>
                    <th scope="col">B</th>
                    <th scope="col">I</th>
                    <th scope="col">N</th>
                    <th scope="col">G</th>
                    <th scope="col">O</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{range index $cols 0}}<p>{{.}}</p>{{end}}</td>
                    <td>{{range index $cols 1}}<p>{{.}}</p>{{end}}</td>
                    <td>{{range index $cols 2}}<p>{{.}}</p>{{end}}</td>
                    <td>{{range index $cols 3}}<p>{{.}}</p>{{end}}</td>
                    <td>{{range index $cols 4}}<p>{{.}}</p>{{end}}</td>
                </tr>
            </tbody>
        </table>
        {{- end}}
    </div>
</div>