<form class="draw-number" method="post" action="/game/draw_number">
    <fieldset>
        <legend>Draw Number</legend>
        {{- with $n := .Game.PreviousNumberDrawn}}
        <div>
            <label class="previous-number">Previous number: <span>{{$n}}</span></label>
        </div>
        {{- end}}
        <div>
            <label class="numbers-left">Numbers left: {{.Game.NumbersLeft}}</label>
        </div>
        <input type="text" name="gameID" value="{{.GameID}}" hidden="true" />
        <input type="submit"{{if le .Game.NumbersLeft 0}} disabled{{end}} />
    </fieldset>
</form>
{{- if .Game.PreviousNumberDrawn}}
<form class="check-board" method="get" action="/game/board/check">
    <fieldset>
        <legend>Check Board</legend>
        <div class="bar-code-scanner">
            <div>
                <input id="enable-camera-checkbox" class="ctrl enable" type="checkbox" hidden="true" />
                <label for="enable-camera-checkbox">Enable Scanner</label>
            </div>
            <div>
                <input id="front-camera-checkbox" class="ctrl front" type="checkbox" hidden="true" />
                <label for="front-camera-checkbox">Front camera</label>
            </div>
            <div>
                <input id="camera-zoom-range" class="ctrl zoom" type="range" hidden="true" />
                <label for="camera-zoom-range">Camera zoom</label>
            </div>
            <input class="scanner-id" type="text" hidden="true" />
            <video autoplay="true" hidden="true"></video>
            <noscript>browser cannot run javascript to scan board</noscript>
            <span class="log"></span>
        </div>
        <input type="text" name="gameID" value="{{.GameID}}" hidden="true" />
        <div>
            <label for="board-id">Board</label>
            <input id="board-id" type="text" name="boardID" value="{{.BoardID}}" required="true" minLength="16" maxLength="16" pattern="[A-za-z0-9-]{16}" />
        </div>
        <fieldset>
            <legend>type</legend>
            <div>
                <input id="type-has-line" type="radio" name="type" value="HasLine" checked="true" />
                <label for="type-has-line">Line</label>
            </div>
            <div>
                <input id="type-is-filled" type="radio" name="type" value="IsFilled" />
                <label for="type-is-filled">All cells</label>
            </div>
        </fieldset>
        <input type="submit" />
        {{- if .BoardID}}
        <div>
            <span>Previous check:</span>
            {{- if .HasBingo}}
            <a href="/game/board?boardID={{.BoardID}}" class="has-bingo">BINGO !!!</a>
            {{- else}}
            <a href="/game/board?boardID={{.BoardID}}" class="no-bingo">No Bingo :(</a>
            {{- end}}
        </div>
        {{- end}}
    </fieldset>
</form>
{{- end}}
{{- with $cols := .Game.DrawnNumberColumns}}
<table class="game-drawn-numbers">
    <caption>Game Drawn Numbers</caption>
    <thead>
        <tr>
            <th scope="col">B</th>
            <th scope="col">I</th>
            <th scope="col">N</th>
            <th scope="col">G</th>
            <th scope="col">O</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{range index $cols 0}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 1}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 2}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 3}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 4}}<p>{{.}}</p>{{end}}</td>
        </tr>
    </tbody>
</table>
{{- end}}