.bar-code-scanner video {
    border: 0.0625em solid;
    width: 85vw;
    height: 60vh;
}
.bar-code-scanner .ctrl[hidden] + label {
    display: none;
}
.bar-code-scanner :is(noscript, .log) {
    color: gray;
}
.has-bingo {
    text-shadow: 0.0625em 0.0625em blue;
}
.no-bingo {
    text-shadow: 0.0625em 0.0625em red;
}
.previous-number > * {
    font-size: 5.5em;
}
.draw-number {
    width: 100%;
}
.game-drawn-numbers th {
    font-size: 4em;
    min-width: 1em;
}