<style>{{template "help.css"}}</style>

<div id="help-page">

<h2>Help</h2>

<p>
Bingo is a social game for many players.
The game consists of a grand marshal and players.
Before starting a game, players are given boards by the grand marshal.
At each step in the game, the grand marshal draws a new number.
</p>

<p>
Numbers range from 1-75.
They are also assigned Letters.
The first fifteen (1-15) have the letter "B" and always appear in the first column on boards.
The next for columns are assigned other letters of the word "bingo."
Numbers 16-30 are assigned to "I", 31-45 to  "N", 46-60 to "G", and 61-75 to "O."
These letters can be used to quickly identify what column a number might be located on a board when it is called.
</p>

<p>
If a player gets a full row, column, or diagonal with 5 numbers, he can call "BINGO".
This is simply called a "line" bingo group.
After a bingo is called, the grand marsh can check the board to determine if the player actually won or mistakenly called a "false" bingo.
In the middle of each board, in the "N" column, there is a "free cell" that can be used by all players to form a bingo group.
</p>

<p>
A game is usually over after a player has formed a bingo group.
However, the game can continue until a player has all of their numbers called to form an "all-cell" bingo group.
</p>

</div>