<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>bitty-bingo</title>
        <link rel="icon" href='data:image/svg+xml,
{{template "favicon.svg"}}
        '>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="a small bingo application">
        <style>
{{template "vars.css"}}
{{template "index.css"}}
{{template "nav.css"}}
{{- if eq .Name "list"}}
{{template "forms_and_table.css"}}
{{template "games.css"}}
{{- else if eq .Name "game"}}
{{template "forms_and_table.css"}}
{{template "game.css"}}
{{- else if eq .Name "help"}}
{{template "help.css"}}
{{- end}}
        </style>
    </head>
    <body>
        <header>
            <h1>bitty-bingo</h1>
{{template "nav.html"}}
        </header>
        <main>
            {{- if eq .Name "list"}}
{{template "games.html" .List}}
            {{- else if eq .Name "game"}}
{{template "game.html" .Game}}
            {{- else if eq .Name "board"}}
{{template "board.svg" .Board}}
            {{- else if eq .Name "help"}}
{{template "help.html"}}
            {{- else if eq .Name "about"}}
{{template "about.html"}}
            {{- end}}
        </main>
    </body>
</html>