<style>{{template "game.css"}}</style>

<form id="draw-number" method="POST" action="/game/draw_number">
    <fieldset>
        <input type="text" name="gameID" value="{{.ID}}" hidden>
        <input type="submit" {{if  le .NumbersLeft 0}}disabled{{end}}>
        <legend>Draw Number</legend>
        {{with $n := .PreviousNumberDrawn}}
        <div>
            <label>Previous number: <span class="previous-number">{{$n}}</span></label>
        </div>
        {{end}}
        <div>
            <label>Numbers left: {{.NumbersLeft}}</label>
        </div>
    </fieldset>
</form>

<form id="check-board" method="GET" action="/game/board/check">
    <fieldset>
        <input id="allow-camera-checkbox" type="checkbox" hidden>
        <div>
            <div>
                <input id="enable-camera-checkbox" type="checkbox">
                <label for="enable-camera-checkbox">Enable Scanner</label>
            </div>
            <div>
                <input id="front-camera-checkbox" type="checkbox" hidden>
                <label for="front-camera-checkbox">Front camera</label>
            </div>
                <input id="camera-zoom-range" type="range" hidden>
                <label for="camera-zoom-range">Camera zoom</label>
            </div>
            <div>
                <video id="camera-video" autoplay hidden></video>
            </div>
        </div>
        <noscript>browser cannot run javascript to scan board</noscript>
        <span id="camera-log"></span>
        <legend>Check Board</legend>
        <input type="text" hidden name="gameID" value="{{.ID}}">
        <div>
            <label for="board-id">Board<label>
            <input id="board-id" type="string" name="boardID" value="{{.BoardID}}" required
                minLength="16" maxLength="16" pattern="[A-za-z0-9-]{16}"/>
        </div>
        <fieldset>
            <legend>type</legend>
            <div>
                <input id="type-has-line" type="radio" name="type" value="HasLine" checked>
                <label for="type-has-line">Line</label>
            </div>
            <div>
            <div>
                <input id="type-is-filled" type="radio" name="type" value="IsFilled">
                <label for="type-is-filled">All cells</label>
            </div>
        </fieldset>
        <input type="submit">
        {{if .BoardID}}
            {{if .HasBingo}}
                <a href="/game/board?boardID={{.BoardID}}" class="has-bingo">BINGO !!!</a>
            {{else}}
                <a href="/game/board?boardID={{.BoardID}}" class="no-bingo">No Bingo :(</a>
            {{end}}
        {{end}}
    </fieldset>
</form>

<table id="game-drawn-numbers">
    <caption>Game Drawn Numbers</caption>
    <thead>
        <tr>
            <th scope="col">B</th>
            <th scope="col">I</th>
            <th scope="col">N</th>
            <th scope="col">G</th>
            <th scope="col">O</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{with $cols := .DrawnNumberColumns}}
            <td>{{range index $cols 0}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 1}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 2}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 3}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 4}}<p>{{.}}</p>{{end}}</td>
            {{end}}
        <tr>
    </tbody>
</table>

<script>{{template "game.js"}}</script>