
<table>
    <caption>Game Drawn Tiles</caption>
    <thead>
        <tr>
            <th scope="col">B</th>
            <th scope="col">I</th>
            <th scope="col">N</th>
            <th scope="col">G</th>
            <th scope="col">O</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{with $cols := .DrawnNumberColumns}}
            <td>{{range index $cols 0}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 1}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 2}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 3}}<p>{{.}}</p>{{end}}</td>
            <td>{{range index $cols 4}}<p>{{.}}</p>{{end}}</td>
            {{end}}
        <tr>
    </tbody>
</table>

<div id="numbers-left"><span>Numbers left: {{.NumbersLeft}}</span></div>

{{if .NumbersLeft}}
<form id="draw-number" method="POST" action="/game/draw_number">
    <fieldset>
        <legend>Draw Number</legend>
        <label>
            <input type="text" hidden name="gameID" value="{{.ID}}">
            <input type="submit">
        </label>
    </fieldset>
</form>
{{end}}

<form id="check-board" method="POST" action="/game/check_board">
    <fieldset>
        <legend>Check Board</legend>
        <input type="text" hidden name="gameID" value="{{.ID}}">
        <label>
            <div>Board</div>
            <input type="string" name="board" required>
        </label>
        <fieldset>
            <legend>type</legend>
            <label>
                <div>Line</div>
                <input type="radio" name="type" value="HasLine" checked>
            </label>
            <label>
                <div>All cells</div>
                <input type="radio" name="type" value="IsFilled">
            </label>
        </fieldset>
        <input type="submit">
    </fieldset>
</form>