#camera-video {
border: 1px solid;
height: 100px;
width: 100px;
}
#check-board input[hidden] + label,
#allow-camera-checkbox:not(:checked) + * {
display: none;
}
#camera-log {
color: gray;
}
.has-bingo {
text-shadow: 1px 1px blue;
}
.no-bingo {
text-shadow: 1px 1px red;
}
.previous-number {
font-size: 6em;
}
#game-drawn-numbers th {
font-size: 4em;
}
#game-drawn-numbers td {
width: 4em;
}