<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>bitty-bingo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="a small bingo application">
    </head>
    <body>
        <header>
            <h1>bitty-bingo</h1>
            {{template "nav.html"}}
        </header>
        <main>
            {{if eq .Name "list"}}
                {{template "games.html" .List}}
            {{else if eq .Name "game"}}
                {{template "game.html" .Game}}
            {{else if eq .Name "board"}}
                {{template "board.svg" .Board}}
            {{else if eq .Name "help"}}
                {{template "help.html"}}
            {{else if eq .Name "about"}}
                {{template "about.html"}}
            {{end}}
        </main>
    </body>
</html>