fieldset {
width: fit-content;
}
input {
margin: .5em;
}
th {
border-bottom: 0.05em dashed;
}
td {
vertical-align: top;
text-align: center
}
table {
border: .2em groove;
}
table caption {
text-align: left;
}
body {
background-color: beige;
color: darkslateblue;
}
form {
margin-bottom: 1em;
}
svg {
    background-color: white;
}
.forms-and-table {
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
@media (min-width:700px) {
.forms-and-table {
flex-direction: row;
max-width: 800px;
}
}