fieldset {
width: fit-content;
}
input {
margin: .5em;
}
th {
font-size: 4em;
border-bottom: 0.05em dashed;
}
td {
width: 4em;
vertical-align: top;
text-align: center
}
table {
border: .2em groove;
}
table caption {
text-align: left;
}
body {
background-color: beige;
color: darkslateblue;
}