form {
    display: inline-block;
    margin-bottom: 1em;
}
fieldset {
    width: fit-content;
}
input {
    margin: .5em;
}
th {
    border-bottom: 0.05em dashed;
}
td {
    vertical-align: top;
    text-align: center;
}
table {
    display: inline-block;
    border: .2em groove;
}
table caption {
    text-align: left;
}
main {
    columns: 20em;
}